[submodule "mongo-singularity"]
	path = mongo-singularity
	url = git@github.com:jose-d/mongo-singularity.git
[submodule "CCL-docker"]
	path = CCL-docker
	url = git@github.com:vrastil/CCL-docker.git
[submodule "FastSim-Container-Base"]
	path = FastSim-Container-Base
	url = git@github.com:vrastil/FastSim-Container-Base.git
[submodule "Fast-Gadget-singularity"]
	path = Fast-Gadget-singularity
	url = git@github.com:vrastil/Fast-Gadget-singularity.git
