[submodule "mongo-singularity"]
	path = mongo-singularity
	url = git@github.com:jose-d/mongo-singularity.git
[submodule "CCL-docker"]
	path = CCL-docker
	url = git@github.com:vrastil/CCL-docker.git
[submodule "FastSim-Container-Base"]
	path = FastSim-Container-Base
	url = git@github.com:vrastil/FastSim-Container-Base.git
[submodule "Fast-Gadget-singularity"]
	path = Fast-Gadget-singularity
	url = git@github.com:vrastil/Fast-Gadget-singularity.git
[submodule "MP-Gadget-Singularity"]
	path = MP-Gadget-Singularity
	url = https://github.com/vrastil/MP-Gadget-Singularity.git
[submodule "FastSim-Container"]
	path = FastSim-Container
	url = https://github.com/vrastil/FastSim-Container.git
